.keyboard {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding: 5px 0;
background: #FFA900;
user-select: none;
transition: bottom 0.4s;
}

.keyboard__key {
height: 45px;
width: 6%;
left: 6%;
max-width: 90px;
margin: 3px;
border-radius: 4px;
border: none;
background: #FFBE40;
opacity: 0.9;
color: white;
font-size: 1.05rem;
outline: none;
cursor: pointer;
display: inline-flex;
align-items: center;
justify-content: center;
vertical-align: top;
padding: 0;
-webkit-tap-highlight-color: transparent;
position: relative;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.keyboard__key:hover{
background-color: #FFDF81;
}

.keyboard__key:active{
  background-color: rgba(166, 110, 0, 0.2);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  animation: nev 3s;
    }

@keyframes nev {
0% {
opacity: 0.5;
border-radius: 50%;
}
20% {
opacity: 0.65;
border-radius: 35%;
}

50% {
opacity: 0.85;
border-radius: 17%;
}

100% {
opacity: 1;
border-radius: 0;
}
}

.keyboard__key--extra-wide {
width: 570px;
max-width: 1000px;
}

textarea{
position: absolute;
left: 47%; top: 20%;
transform: translate(-47%, -20%);
width: 86%;
height: 300px;
border: 5px solid #FFA900;
outline:none;
font-size: 40px;
}

.active{
background-color: rgba(166, 110, 0, 0.2);
box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.active1{
animation: nev 5s alternate;
}

#up_low{
  text-transform: lowercase;
}


.keyboard__key--activatable::after {
content: '';
top: 10px;
right: 10px;
position: absolute;
width: 8px;
height: 8px;
background: rgba(0, 0, 0, 0.4);
border-radius: 50%;
}

.keyboard__key--active::after {
background: white;
}
